commands:
  zabbix_1_remove_dir:
    command: rm -Rf /etc/zabbix
    ignoreErrors: true
  zabbix_2_directory:
    command: mkdir /etc/zabbix
  zabbix_3_download: 
    command: wget http://www.zabbix.com/downloads/3.0.4/zabbix_agents_3.0.4.linux2_6_23.amd64.tar.gz
  zabbix_4_extract:
    command: tar -xzf zabbix_agents_3.0.4.linux2_6_23.amd64.tar.gz -C /etc/zabbix
  zabbix_5_remove:
    command: rm -f zabbix_agents_3.0.4.linux2_6_23.amd64.tar.gz
    