commands:
# Stop Zabbix Agent
  "01_stop_zabbix-agent":
    command: /etc/init.d/zabbix-agent stop
    test: ls /etc/init.d/zabbix-agent

# Create user and group
  "02_create_group":
    command: groupadd zabbix
    test: id -g zabbix; [ "$?" -ne 0 ]
  "03_create_user":
    command: useradd -g zabbix zabbix
    test: id -u zabbix; [ "$?" -ne 0 ]

# Create directories
  "04_remove_/var/run/zabbix/":
    command: rm -Rf /var/run/zabbix/
    ignoreErrors: true
  "05_create_/var/run/zabbix/":
    command: mkdir /var/run/zabbix/
  "06_change_run_owner":
    command: chown zabbix:zabbix /var/run/zabbix/
  "07_remove_/var/log/zabbix":
    command: rm -Rf /var/log/zabbix
    ignoreErrors: true
  "08_create_/var/log/zabbix":
    command: mkdir /var/log/zabbix
  "09_change_log_owner":
    command: chown zabbix:zabbix /var/log/zabbix

# Download package
  "10_download_zabbix-agent":
    command: curl http://www.zabbix.com/downloads/3.0.4/zabbix_agents_3.0.4.linux2_6_23.amd64.tar.gz -o /tmp/zabbix/zabbix_agents_3.0.4.linux2_6_23.amd64.tar.gz --create-dirs
  "11_extract":
    command: tar -xzf /tmp/zabbix/zabbix_agents_3.0.4.linux2_6_23.amd64.tar.gz -C /tmp/zabbix

# Install package
  "12_copy_bin":
    command: cp -Rf /tmp/zabbix/bin/* /usr/bin && cp -Rf /tmp/zabbix/sbin/* /usr/sbin
  "13_remove_download":
    command: rm -Rf /tmp/zabbix
    ignoreErrors: true