commands:
# Create directories
  "1_remove_/usr/lib/zabbix":
    command: rm -Rf /usr/lib/zabbix
    test: cd /usr/lib/zabbix
  "2_create_/usr/lib/zabbix":
    command: mkdir /usr/lib/zabbix
  "3_remove_/var/log/zabbix":
    command: rm -Rf /var/log/zabbix
    test: cd /var/log/zabbix
  "4_create_/var/log/zabbix":
    command: mkdir /var/log/zabbix

# Download package
  "5_download_zabbix-agent":
    command: wget http://www.zabbix.com/downloads/3.0.4/zabbix_agents_3.0.4.linux2_6_23.amd64.tar.gz -O /usr/lib/zabbix/zabbix_agents_3.0.4.linux2_6_23.amd64.tar.gz
  "6_extract":
    command: tar -xzf /etc/zabbix/zabbix_agents_3.0.4.linux2_6_23.amd64.tar.gz -C /usr/lib/zabbix

# Create user
  "7_remove_user":
    command: userdel zabbix
    test: id -u zabbix
  "8_create_user":
    command: useradd zabbix