files:
  "/usr/local/etc/zabbix_agentd.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      PidFile=/var/run/zabbix/zabbix_agentd.pid
      LogFile=/var/log/zabbix_agentd.log
      LogFileSize=0
      Server=zabbix.teltecsolutions.com.br
      ServerActive=zabbix.teltecsolutions.com.br
      Hostname=Oening-test
      HostMetadata=oening-test